$white: #fff;
$gray: #808080;
$black: #000;
$dustygray: #999;
$dovegray: #666;
$tundora: #434343;
$mineshaft: #383838;
$darkmineshaft: #292929;
$emperor: #515151;

// save button
$atlantis: #8cd934;
$christi: #339e08;
$pistachio: #8cb30b;
