.light-controller {
  &.color-light {
    &.powered {
      .individual-spectrum-bg {
        margin: 10px 0;
        width: 300px;
        background-size: cover;
        background: linear-gradient(to right,  #ff0000 0%,#ff9600 10%,#ffda46 20%,#fff710 30%,#a2ff10 40%,#19ffe7 50%,#3db4ff 60%,#1a5bff 70%,#ff00e4 80%,#ff006c 90%,#ff0000 100%);
        border-radius: 3px;
        display: block;
        height: 28px;
        margin-top: -4px;
        position: absolute;
        top: 5px;
        left: 36px;
        z-index: 3;
      }
    }
  }
}
