.light-controller {
  &.dimmable-light {
    &.off {
      .dimmable-bg {
        background: #292929;
        margin: 10px 0;
        opacity: 0.3;
      }
    }
  }
}

.dimmable-bg {
  background-size: cover;
  background: $lemonchiffon;
  border-radius: 3px;
  display: block;
  height: 28px;
  left: 36px;
  margin: 10px 0;
  position: absolute;
  top: -9px;
  width: 300px;
  z-index: 2;
}
