.light-controller {

  background-color: gray;
  border: 1px solid white;
  padding: 10px;
  width: 300px;

  h4 {
    margin: 0 0 10px 0;
  }

  label {
    display: inline-block;
  }

  .range {
    position: relative;
  }

  input {
    width: 89%;

    &.range-hue {
      left: 28px;
      position: absolute;
      top: 2px;
    }
  }

  button {
    background: url('img/light-bulp-off.png') no-repeat;
    background-color: #000;
    background-size: cover;
    border-radius: 5px;
    border: 1px solid #999;
    display: block;
    height: 25px;
    width: 25px;

    &.powered {
      background: url('img/light-bulp-on.png') no-repeat;
      background-color: orange;
      border: 1px solid #333;
      background-size: cover;
    }
  }

  .title-wrap {
    position: relative;

    .title {
      // position: absolute;
      left: 30px;
      top: -15px;
    }
  }
}
