html {
  background: $darkmineshaft;
  width: 400px;
}

body {
  margin: 0;
  padding: 0;
  width: 400px;
}

.bg-logo {
  background: url('img/huello-@2x.png') no-repeat;
  background-size: cover;
  width: 135px;
  height: 30px;
  position: fixed;
  top: 250px;
  left: 132px;

  .output {
    color: $white;
    font-size: 13px;
    margin-top: 40px;
    text-align: center;
    display: none;
  }
}

.spacer {
  height: 296px;
  width: 400px;
}

.side-bar {
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
  z-index: -1;
}

.mode-overlay {
  background: $darkmineshaft;
  height: 100%;
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0.75;
  display: none;

  .mode-loader {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: url('img/loader.png');
    position: absolute;
    animation: load3 1.4s infinite linear;
    transform: translateZ(0);
    background-size: cover;
    top: 48%;
    left: 48%;
  }

  @keyframes load3 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.shadow {
  background: url('img/shadow.png');
  background-size: cover;
  overflow: hidden;
  position: fixed;
  top: 284px;
  width: 400px;
  height: 30px;
}

.drag-handle {
  background: url('img/drag-handle.png');
  background-size: cover;
  height: 15px;
  width: 400px;
  bottom: 0;
  left: 0;
  position: fixed;
}

.loader-wrap {
  position: absolute;
  margin: 300px 185px;

  .loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: linear-gradient(to right, $white 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    animation: load3 1.4s infinite linear;
    transform: translateZ(0);
  }

  .loader:before {
    width: 50%;
    height: 50%;
    background: $white;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }

  .loader:after {
    background: $darkmineshaft;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  @keyframes load3 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
