body,
html {
  background: $darkmineshaft;
}

.side-bar {
  height: 331px;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 296px;
  width: auto;
}

// select box
.mode {
  margin: 10px auto;
}

.shadow {
  background: url('img/shadow.png');
  background-size: cover;
  overflow: hidden;
  position: fixed;
  top: 284px;
  width: 400px;
  height: 30px;
}
