html {
  background: $darkmineshaft;
  width: 400px;
}

body {
  margin: 0;
  padding: 0;
  width: 400px;
}

.bg-logo {
  background: url('img/huello-@2x.png') no-repeat;
  background-size: cover;
  width: 135px;
  height: 30px;
  position: fixed;
  top: 250px;
  left: 132px;
}

.spacer {
  height: 296px;
  width: 400px;
}

.side-bar {
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
  z-index: -1;
}

// select box
.mode {
  margin: 10px auto;
  z-index: 10;
}

.shadow {
  background: url('img/shadow.png');
  background-size: cover;
  overflow: hidden;
  position: fixed;
  top: 284px;
  width: 400px;
  height: 30px;
}

.drag-handle {
  background: url('img/drag-handle.png');
  background-size: cover;
  height: 15px;
  width: 400px;
  bottom: 0;
  left: 0;
  position: fixed;
}
