.group-controller {
  background-color: $emperor;
  border: 1px solid $emperor;
  padding: 20px;
  width: 358px;
  height: 254px;

  h4 {
    margin: 0 0 10px 0;
  }

  label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 13.5px;
    letter-spacing: 1px;

    &.label-sat,
    &.label-bri {
      margin-bottom: 0;
    }

    &.label-sat {
      margin-top: 3px;
    }

    &.label-bri {
      margin-top: 15px;
    }
  }



  .range {
    position: relative;
  }

  input {
    width: 89%;
  }

  input.range-hue {

    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;

    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      margin: 10px 0;
      width: 100%;
      background-size: cover;
      background: linear-gradient(to right,  #ff0000 0%,#ff9600 10%,#ffda46 20%,#fff710 30%,#a2ff10 40%,#ffffff 50%,#f0d9fe 60%,#7c3cff 70%,#ff00e4 80%,#ff006c 90%,#ff0000 100%);
      border-radius: 3px;
      display: block;
      height: 30px;
      margin-top: -4px;
      width: 320px;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border-bottom: 15px solid $emperor;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        height: 20px;
        margin-top: 10px;
        outline: none;
        width: 10px;
    }
  }

  input.range-hue,
  input.range-bri {
    -webkit-appearance: none;
    outline: none;
    margin: 0;
  }

  input.range-hue:focus {
    outline: none;
  }

  input.range-sat::-webkit-slider-runnable-track,
  input.range-bri::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: $mineshaft;
    box-shadow: inset 0px 0px px rgba(0, 0, 0, 0.5); //0px 0px 1px #0d0d0d;
    cursor: pointer;
    height: 5px;
    width: 100%;
    border: none;
  }

  input.range-sat::-webkit-slider-thumb,
  input.range-bri::-webkit-slider-thumb {
    margin-top: -5px;
  }

  button {
    outline: none;
    cursor: pointer;

    &.group-power {
      position: absolute;
      top: 20px;
      left: 350px;
    }

    &.off {
      background: url('img/light-power-off.png') no-repeat;
      background-color: $emperor;
      background-size: cover;
      border: 0;
      display: block;
      height: 30px;
      width: 30px;
    }

    &.powered {
      background: url('img/group-power-on.png') no-repeat;
      background-size: cover;
      border: 0;
      display: block;
      height: 30px;
      width: 30px;
    }
  }

  .range-wrap {
    margin-top: 60px;
    width: 400px;
  }

  .logo {

    img {
      width: 135px;
    }
  }

  .ember-inline-edit {
    position: relative;
    width: 200px;

    button {
      &.ember-inline-edit-save {
        background: $atlantis;
        background-image: linear-gradient(to bottom, $atlantis, $christi);
        border-radius: 5px;
        box-shadow: 0px 1px 3px $dovegray;
        color: $white;
        padding: 5px 10px 5px 10px;
        text-decoration: none;
        border: none;
        position: absolute;
        right: -60px;
        top: -2px;

        &.ember-inline-edit-save:hover {
          background: $atlantis;
          background-image: linear-gradient(to bottom, $atlantis, $pistachio);
          text-decoration: none;
        }
      }
    }

    .ember-inline-edit-input {
      font-size: 13px;
      font-weight: bold;
      outline: none;
      border: none;
    }
  }
}
