.mode {
  font-size: 11px;
  left: 20px;
  position: absolute;
  top: 65px;
  width: 130px;
}

.ember-power-select-trigger {
  outline: none;
}

.ember-power-select-option {
  font-size: 11px;
  outline: none;
}
