.group-controller {
  background-color: $emperor;
  border: 1px solid $emperor;
  padding: 20px;
  width: 358px;
  height: 254px;
  position: fixed;

  h4 {
    margin: 0 0 10px 0;
  }

  label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 13.5px;
    letter-spacing: 1px;

    &.label-sat,
    &.label-bri {
      margin-bottom: 0;
    }

    &.label-sat {
      margin-top: 3px;
    }

    &.label-bri {
      margin-top: 15px;
    }
  }

  .color-temp-box-wrap {
    position: absolute;
    top: 111px;
    left: 317px;
    z-index: 2;

    input {
      position: absolute;
      top: 0;
      left: 45px;
    }
  }

  .range {
    position: relative;
  }

  .range.neg-margin {
    margin-top: -8px;
  }

  input {
    width: 90%;


    &.range-hue,
    &.range-sat,
    &.range-bri {

      -webkit-appearance: none;
      background: transparent;
      cursor: pointer;

      &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;
        background-size: cover;
        border-radius: 3px;
        display: block;
        height: 30px;
        margin-top: -4px;
        width: 320px;
        z-index: 2;
      }

      &::-webkit-slider-thumb {
          -webkit-appearance: none;

          /* hide the indicator */

          // border-bottom: 15px solid $emperor;
          // border-left: 8px solid transparent;
          // border-right: 8px solid transparent;
          height: 20px;
          margin-top: 10px;
          outline: none;
          width: 10px;
      }
    }
  }

  input.range-hue,
  input.range-bri {
    -webkit-appearance: none;
    outline: none;
    margin: 0;
  }

  input.range-hue:focus,
  input.range-sat:focus,
  input.range-bri:focus {
    outline: none;
  }

  input.range-sat::-webkit-slider-runnable-track,
  input.range-bri::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background-size: cover;
    background: linear-gradient(to right,  #ffffff 0%, #5bbdff 100%);
    box-shadow: inset 0px 0px px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 15px;
    width: 100%;
    border: none;
    margin-top: 2px;
    outline: transparent;
  }

  input.range-bri::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background-size: cover;
    background: linear-gradient(to right, #515151 0%, #fff 100%);
    box-shadow: inset 0px 0px px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 15px;
    width: 100%;
    border: none;
    margin-top: 2px;
    outline: transparent;
  }

  input.range-sat::-webkit-slider-thumb,
  input.range-bri::-webkit-slider-thumb {
    margin-top: -5px;
    opacity: 1px;
  }

  button {
    outline: none;
    cursor: pointer;

    &.group-power {
      position: absolute;
      top: 20px;
      left: 351px;
    }

    &.off {
      background: url('img/group-power-off.png') no-repeat;
      background-color: $emperor;
      background-size: cover;
      border: 0;
      display: block;
      height: 30px;
      width: 30px;
    }

    &.powered {
      background: url('img/group-power-on.png') no-repeat;
      background-size: cover;
      border: 0;
      display: block;
      height: 30px;
      width: 30px;
    }
  }

  .range-wrap {
    margin-top: 60px;
    width: 400px;
  }

  .logo {
    background: url('img/huello-@2x.png');
    width: 135px;
    height: 30px;
    display: block;
    background-size: cover;
  }
}

.bg-logo {
  z-index: -1;
}

// select dropdown
.ember-power-select-trigger,
.ember-power-select-options {
  background: $mineshaft;
  color: lightgray;
  box-shadow: 0px 1px 1px $mineshaft;
}

.ember-power-select-option[aria-selected="true"] {
  background-color: $gray;
  color: $darkmineshaft;
}

.ember-power-select-option[aria-current="true"] {
  background-color: $white;
  color: $darkmineshaft;
}

input[type=checkbox] {
  outline: none;
}

.white-bg {
  margin: 10px 0;
  width: 360px;
  background-size: cover;
  background: $white;
  border-radius: 3px;
  display: block;
  height: 30px;
  margin-top: -4px;
  position: fixed;
  z-index: -1;
}

.dark-bg {
  margin: 10px 0;
  width: 360px;
  background-size: cover;
  background: #292929;
  border-radius: 3px;
  display: block;
  height: 30px;
  margin-top: -4px;
  position: fixed;
  z-index: -1;
}

.group-spectrum-bg {
  margin: 10px 0;
  width: 360px;
  background-size: cover;
  background: linear-gradient(to right,  #ff0000 0%,#ff9600 10%,#ffda46 20%,#fff710 30%,#a2ff10 40%,#ffffff 50%,#f0d9fe 60%,#7c3cff 70%,#ff00e4 80%,#ff006c 90%,#ff0000 100%);
  border-radius: 3px;
  display: block;
  height: 30px;
  margin-top: -4px;
  position: fixed;
  z-index: 0;

  &.color-temp {
    background: linear-gradient(to right,  #ffffff 1%,#ffa801 100%);
  }
}

// off state
.group-controller {
  &.off {
    .group-spectrum-bg {
      margin: 10px 0;
      width: 360px;
      background-size: cover;
      background: $mineshaft;
      border-radius: 3px;
      display: block;
      height: 30px;
      margin-top: -4px;
      position: fixed;
      z-index: 0;
    }

    .white-bg {
      display: none;
    }
  }
}

input.range-sat {
  margin-left: 0;
}

input.range-bri {
  margin-left: 1px;
}
