// select box
.mode {
  font-size: 11px;
  left: 20px;
  margin: 10px auto;
  position: absolute;
  top: 65px;
  width: 130px;
  z-index: 10;
}

.ember-power-select-trigger {
  outline: none;
}

.ember-power-select-option {
  font-size: 11px;
  outline: none;
}

#ember-basic-dropdown-trigger-1,
#ember-basic-dropdown-content-1 {
  border: none;
}
