.group-controller {
  height: 254px;
  width: 358px;
  padding: 20px;
  position: fixed;
  background-color: $emperor;
  border: 1px solid $emperor;

  h4 {
    margin: 0 0 10px 0;
  }

  label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 13.5px;
    font-weight: bold;
    letter-spacing: 1px;

    &.label-sat,
    &.label-bri {
      margin-bottom: 0;
    }

    &.label-sat {
      margin-top: 3px;
    }

    &.label-bri {
      margin-top: 15px;
    }
  }

  .color-temp-box-wrap {
    position: absolute;
    z-index: 2;
    top: 111px;
    left: 317px;

    input {
      position: absolute;
      top: 0;
      left: 45px;
    }
  }

  .range {
    position: relative;
  }

  .range.neg-margin {
    margin-top: -8px;
  }

  input {
    width: 90%;


    &.range-hue,
    &.range-sat,
    &.range-bri {
      background: transparent;
      cursor: pointer;

      -webkit-appearance: none;

      &::-webkit-slider-runnable-track {
        display: block;
        height: 30px;
        width: 100%;
        width: 320px;
        margin: 10px 0;
        margin-top: -4px;
        z-index: 2;
        background-size: cover;
        border-radius: 3px;

        -webkit-appearance: none;
      }

      &::-webkit-slider-thumb {
        /* hide the indicator */
        // border-bottom: 15px solid $emperor;
        // border-left: 8px solid transparent;
        // border-right: 8px solid transparent;
        height: 20px;
        width: 10px;
        margin-top: 10px;
        outline: none;

        -webkit-appearance: none;
      }
    }
  }

  input.range-hue,
  input.range-bri {
    margin: 0;
    outline: none;

    -webkit-appearance: none;
  }

  input.range-hue:focus,
  input.range-sat:focus,
  input.range-bri:focus {
    outline: none;
  }

  input.range-sat::-webkit-slider-runnable-track,
  input.range-bri::-webkit-slider-runnable-track {
    height: 15px;
    width: 100%;
    margin-top: 2px;
    background: linear-gradient(to right,  #FFFFFF 0%, #5BBDFF 100%);
    background-size: cover;
    border: none;
    outline: transparent;
    box-shadow: inset 0 0 px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    -webkit-appearance: none;
  }

  input.range-bri::-webkit-slider-runnable-track {
    height: 15px;
    width: 100%;
    margin-top: 2px;
    background: linear-gradient(to right, #515151 0%, #FFFFFF 100%);
    background-size: cover;
    border: none;
    outline: transparent;
    box-shadow: inset 0 0 px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    -webkit-appearance: none;
  }

  input.range-sat::-webkit-slider-thumb,
  input.range-bri::-webkit-slider-thumb {
    margin-top: -5px;
    opacity: 1px;
  }

  button {
    outline: none;
    cursor: pointer;

    &.group-power {
      position: absolute;
      top: 20px;
      left: 351px;
    }

    &.off {
      display: block;
      height: 30px;
      width: 30px;
      background: url("img/group-power-off.png") no-repeat;
      background-color: $emperor;
      background-size: cover;
      border: 0;
    }

    &.powered {
      display: block;
      height: 30px;
      width: 30px;
      background: url("img/light-power-on.png") no-repeat;
      background-size: cover;
      border: 0;
    }
  }

  .range-wrap {
    width: 400px;
    margin-top: 60px;
  }

  .logo {
    display: block;
    height: 30px;
    width: 135px;
    background: url("img/huello-@2x.png");
    background-size: cover;
  }
}

.bg-logo {
  z-index: -1;
}

// select dropdown
.ember-power-select-trigger,
.ember-power-select-options {
  background: $mineshaft;
  box-shadow: 0 1px 1px $mineshaft;
  color: lightgray;
}

.ember-power-select-option[aria-selected="true"] {
  background-color: $gray;
  color: $darkmineshaft;
}

.ember-power-select-option[aria-current="true"] {
  background-color: $white;
  color: $darkmineshaft;
}

input[type=checkbox] {
  outline: none;
}

.white-bg {
  display: block;
  height: 30px;
  width: 360px;
  margin: 10px 0;
  margin-top: -4px;
  position: fixed;
  z-index: -1;
  background: $white;
  background-size: cover;
  border-radius: 3px;
}

.dark-bg {
  display: block;
  height: 30px;
  width: 360px;
  margin: 10px 0;
  margin-top: -4px;
  position: fixed;
  z-index: -1;
  background: #292929;
  background-size: cover;
  border-radius: 3px;
}

.group-spectrum-bg {
  display: block;
  height: 30px;
  width: 360px;
  margin: 10px 0;
  margin-top: -4px;
  position: fixed;
  z-index: 0;
  background: linear-gradient(to right,  #FF0000 0%,#FF9600 10%,#FFDA46 20%,#FFF710 30%,#A2FF10 40%,#FFFFFF 50%,#F0D9FE 60%,#7C3CFF 70%,#FF00E4 80%,#FF006C 90%,#FF0000 100%);
  background-size: cover;
  border-radius: 3px;

  &.color-temp {
    background: linear-gradient(to right,  #FFFFFF 1%,#FFA801 100%);
  }
}

// off state
.group-controller {
  &.off {
    .group-spectrum-bg {
      display: block;
      height: 30px;
      width: 360px;
      margin: 10px 0;
      margin-top: -4px;
      position: fixed;
      z-index: 0;
      background: $mineshaft;
      background-size: cover;
      border-radius: 3px;
    }

    .white-bg {
      display: none;
    }
  }
}

input.range-sat {
  margin-left: 0;
}

input.range-bri {
  margin-left: 1px;
}
