<div class="mode">
  {{#power-select options=model.groups selected=currentGroup onchange=(action "changeMode") searchEnabled=false as |group|}}
    {{group.name}}
  {{/power-select}}
</div>

{{group-controller group=groups allLights=allLights update="updateModel"}}

<div class='side-bar'>
  <div class="shadow">
    <img src="/assets/img/shadow.png" />
  </div>
  {{#each groups.lights as |light|}}
    {{light-in-group-controller light=light update="updateModel" currentGroup=currentGroup}}
  {{/each}}
</div>
