<div class="mode">
  {{#power-select options=model.groups selected=currentGroup onchange=(action "changeMode") searchEnabled=false as |group|}}
    {{group.name}}
  {{/power-select}}
</div>

{{group-controller group=groups allLights=allLights update="updateModel" colorTemp=colorTemp useColorTemp="setColorTemp"}}

<div class='side-bar'>
  <div class="spacer"></div>
  <div class="group-wrap">
    {{#each groups.lights as |light|}}
      {{light-in-group-controller light=light update="updateModel" currentGroup=currentGroup colorTemp=colorTemp}} {{! currentGroup: group ID number, colorTemp: boolean }}
    {{/each}}
  </div>
</div>
<div class="mode-overlay">
  <div class="mode-loader"></div>
</div>
