<div class="outer">
    <div class="middle">
        <div class="inner">

            <div class="bg-logo"></div>
            <div class="output"></div>
            <div class="loader"></div>
            <div class="reset"></div>

        </div>
    </div>
</div>
