<h3>All Lights</h3>


{{group-controller group=groups update="updateModel"}}


<div class='side-bar'>
  {{#each lights.lights as |light|}}
    {{light-controller light=light update="updateModel"}}
  {{/each}}
</div>
